<header>
  <nav class="navbar navbar-dark bg-dark navbar-expand sticky-top mb-5">
    <div class="container-fluid">
      <a class="navbar-brand fs-2 ms-3" routerLink="" style="font-family: 'GrenzeGotisch', Roboto, serif;">
        Sudoku Toy
      </a>
      <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarNavAltMarkup" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" routerLink="new">New</a>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="w-100 p-5 d-flex flex-column">
  <div @fixedAppear class="wrapper w-100 d-flex flex-column flex-grow-1">
    <ng-content></ng-content>
  </div>
</main>
