<div
  class="cell border p-2 d-flex align-items-center justify-content-around hover no-select position-relative"
  role="button">
  <div [class.invisible]="!selected" class="position-absolute top-0 start-0 w-100 h-100 bg-opacity-25 bg-primary"></div>
  <div [class.invisible]="!highlighted"
       class="position-absolute top-0 start-0 w-100 h-100 bg-opacity-10 bg-primary"></div>
  <ng-container *ngIf="inputModes[0].value != null">
    <div
      [class.text-primary]="!readonly"
      class="d-flex flex-column align-items-center justify-content-around h3 p-0 m-0">
      {{inputModes[0].value}}
    </div>
  </ng-container>
  <ng-container *ngIf="inputModes[0].value == null">
    <div
      class="d-flex flex-column align-items-start justify-content-start fs-6 p-0 m-0 text-danger">
      {{inputModes[1].value}}
    </div>
    <div
      class="d-flex flex-column align-items-center justify-content-around fs-6 p-0 m-0 text-success">
      {{inputModes[2].value}}
    </div>
  </ng-container>
</div>
