<div
  class="cell border d-flex align-items-center justify-content-around hover no-select position-relative"
  role="button">
  <div [class.invisible]="!selected" class="position-absolute top-0 start-0 w-100 h-100 bg-opacity-25 bg-primary"></div>
  <div [class.invisible]="!highlighted"
       class="position-absolute top-0 start-0 w-100 h-100 bg-opacity-10 bg-primary"></div>
  <ng-container *ngIf="inputModes[0].value[id] != null">
    <div
      @lightAppear
      [class.text-primary]="!readonly"
      class="d-flex flex-column align-items-center justify-content-around h3 p-2 m-0">
      {{inputModes[0].value[id]}}
    </div>
  </ng-container>
  <ng-container *ngIf="inputModes[0].value[id] == null">
    <!-- corner -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-row flex-wrap align-items-start justify-content-start p-0 m-0 bg-transparent text-primary"
      style="font-size: 0.7rem">
      <span *ngFor="let v of $any(inputModes[1]).value[id]">
        {{v}}
      </span>
    </div>
    <!-- center -->
    <div
      class="position-absolute top-0 start-0 w-100 h-100 d-flex flex-row align-items-center justify-content-center p-0 m-0 bg-transparent text-primary"
      style="font-size: 0.8rem">
      <span *ngFor="let v of $any(inputModes[2]).value[id]">
        {{v}}
      </span>
    </div>
  </ng-container>
</div>
