<app-page-layout>
  <div class="d-flex justify-content-center">
    <div class="col-sm-6">
      <h1 class="h2">New puzzle</h1>
      <form (ngSubmit)="submit()" [formGroup]="form" class="form">
        <div class="row mb-3">
          <div class="col-sm-9">
            <label class="form-label" for="puzzle-input">Puzzle:</label>
            <input class="form-control" formControlName="puzzle" id="puzzle-input"
                   name="puzzle" type="text">
          </div>
          <div class="col-sm-3">
            <label class="form-label" for="puzzleSize-input">Size:</label>
            <input class="form-control" formControlName="puzzleSize" id="puzzleSize-input" name="puzzleSize"
                   type="number">
            <app-form-errors>
              <app-form-error *ngIf="fieldHasErrors('puzzleSize', 'required')">
                the puzzle size is required
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('puzzleSize', 'min')">
                the puzzle size has to be larger than 1
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('puzzleSize', 'validateSizeMatch')">
                the puzzle size has to suit the puzzle
              </app-form-error>
            </app-form-errors>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label class="form-label" for="boxWidth-input">Box Width:</label>
            <input class="form-control" formControlName="boxWidth" id="boxWidth-input" name="boxWidth"
                   type="number">
            <app-form-errors>
              <app-form-error *ngIf="fieldHasErrors('boxWidth', 'required')">
                the box width is required
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxWidth', 'min')">
                the box width has to be larger than 0
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxWidth', 'validateDivisibleBoxSize')">
                this box width is not valid
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxWidth', 'validateMaxBoxSize')">
                this box width must be smaller than the puzzle size
              </app-form-error>
            </app-form-errors>
          </div>
          <div class="col">
            <label class="form-label" for="boxHeight-input">Box Height:</label>
            <input class="form-control" formControlName="boxHeight" id="boxHeight-input" name="boxHeight"
                   type="number">
            <app-form-errors>
              <app-form-error *ngIf="fieldHasErrors('boxHeight', 'required')">
                the box height is required
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxHeight', 'min')">
                the box height has to be larger than 0
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxHeight', 'validateDivisibleBoxSize')">
                this box height is not valid
              </app-form-error>
              <app-form-error *ngIf="fieldHasErrors('boxHeight', 'validateMaxBoxSize')">
                this box height must be smaller than the puzzle size
              </app-form-error>
            </app-form-errors>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Load Puzzle</button>
      </form>
    </div>
  </div>
</app-page-layout>
