<div class="d-flex justify-content-center">
  <div class="border border-dark border-3 d-inline-box m-0 p-0">
    <ng-container *ngFor="let _ of [].constructor(verticalBoxCount); let vb = index;">
      <div class="d-flex">
        <ng-container *ngFor="let _ of [].constructor(horizontalBoxCount); let hb = index;">
          <div class="border border-dark border-1 d-inline-box mb-0 p-0">
            <ng-container *ngFor="let _ of [].constructor(boxHeight); let row = index">
              <div class="d-flex">
                <ng-container *ngFor="let _ of [].constructor(boxWidth); let col = index">
                  <app-sudoku-cell [col]="col + hb * boxWidth" [row]="row + vb * boxHeight"></app-sudoku-cell>
                </ng-container>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #finishedModal let-modal>
  <div class="modal-header px-4 pt-4">
    <h2 class="modal-title fw-bold">Congratulations, you finished the puzzle!</h2>
  </div>
  <div class="modal-body px-4 pb-4">
    <p>
      You finished this puzzle in <b>{{getFinishedTime() | seconds}}</b>, only {{getFinishedTime()}} seconds, wow!
    </p>
    <button (click)="modal.close('Close click')" class="btn btn-lg btn-primary mt-4 w-100" type="button">
      Great!
    </button>
  </div>
</ng-template>
