<app-page-layout>
  <div class="d-flex align-items-center justify-content-center gap-3 playground">
    <div class="d-flex flex-column align-items-center gap-2 flex-shrink-0">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md p-0 mb-2 order-md-2">
            <app-timer></app-timer>
          </div>
          <div class="col-md p-0 mb-md-2 order-md-1">
            <app-input-mode-selector></app-input-mode-selector>
          </div>
        </div>
      </div>
      <app-sudoku></app-sudoku>
    </div>
    <app-virtual-keyboard class="flex-shrink-1"></app-virtual-keyboard>
  </div>
</app-page-layout>
